{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid bg-3 text-center">
  <h3>My loans</h3>
  <div class="row">
    {% for loan in active_loans %} 
    <div class="col-md-3">
      <div class="card mb-4 shadow-sm">
        <img src="{% static loan.book.image.url %}" alt="{{ loan.book.name }}" class="bd-placeholder-img card-img-top" width="100%" height="225">
        <div class="card-body">
          <h5 class="card-title">name : {{ loan.book.name }}</h5>
          <p class="card-text">author : {{ loan.book.author }}</p>
          <p class="card-text">Year Published: {{ loan.book.year_published }}</p>
          <p class="card-text">Book Type: {{ loan.book.get_book_type_display }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="button-container">
              <button type="button" class="btn btn-primary" data-return-date="{{ loan.return_date|date:'c' }}" data-loan-id="{{ loan.id }}" onclick="showTimeLeft(this)">See the time left</button>
              <div class="popup" id="popup">
                  <p id="popupContent"></p>
                  <button type="button" onclick="closePopup()">Ok</button>
              </div>
              
              <!-- Unique container for time remaining information -->
              <div class="time-left-container" id="timeLeftContainer_{{ loan.id }}"></div>
            </div>      
            <div class="center-column">
              <form action="{% url 'return_book' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="loan_id" value="{{ loan.id }}">
                <button type="submit" class="btn btn-danger">Return loan</button>
              </form>                       
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col">
      <h10><strong>You have Not books on rent.</strong></h10>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

