{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid bg-3 text-center">
  <h3>All The books that we have</h3>
  <div class="row">
    {% for book in all_books %}
    <div class="col-md-3">
      <div class="card mb-4 shadow-sm">
        <img src="{% static book.image %}" alt="{{ book.name }}" class="bd-placeholder-img card-img-top" width="100%" height="225">
        <div class="card-body">
          <h5 class="card-title">name : {{ book.name }}</h5>
          <p class="card-text">author : {{ book.author }}</p>
          <p class="card-text">Year Published: {{ book.year_published }}</p>
          <p class="card-text">Book Type: {{ book.get_book_type_display }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <!-- <a type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
              <a type="button" class="btn btn-sm btn-outline-secondary">Borrow</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col">
      <p>No books available.</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
