{% extends 'base.html' %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 80vh; padding: 20px;">
    <div style="text-align: center;">
        <h2>Update Book</h2>
        <form method="post" enctype="multipart/form-data">  <!-- Include enctype for file uploads -->
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.author.label_tag }}
                {{ form.author }}
            </div>
            <div class="form-group">
                {{ form.year_published.label_tag }}
                {{ form.year_published }}
            </div>
            <div class="form-group">
                {{ form.image.label_tag }}
                {{ form.image }}
            </div>
            <input type="submit" value="Update" class="btn btn-primary" />
        </form>
    </div>
</div>
{% endblock %}
